Liste des Equipes

<kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
  [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="id" title="ID">
  </kendo-grid-column>
  <kendo-grid-column field="code" title="Code" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="nom" title="Nom">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <strong>
      <a [routerLink]="['/equipes/', dataItem.id]">{{dataItem.nom}}</a>
    </strong>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

