Liste des Equipes

<kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
  [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)"
  (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)" (remove)="removeHandler($event)"
  (add)="addHandler($event)">
  <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Ajouter</button>
  </ng-template>
  <kendo-grid-column field="id" title="ID">
  </kendo-grid-column>
  <kendo-grid-column field="code" title="Code" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="nom" title="Nom">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <strong>
      <a [routerLink]="['/equipes/', dataItem.id]">{{dataItem.nom}}</a>
    </strong>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-command-column title="Actions" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
          <button kendoGridEditCommand [primary]="true">Modifier</button>
          <button kendoGridRemoveCommand>Supprimer</button>
          <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Ajouter' : 'Modifier' }}</button>
          <button kendoGridCancelCommand>{{ isNew ? 'Annuler' : 'Cancel' }}</button>
      </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

