<button class="buttonAdd" kendoButton (click)="showForm()" [primary]="true">Ajouter une poule</button>

<div class="align">
  <app-poule (deleteEvent)="deletePoule($event)" *ngFor="let poule of poules" [poule]="poule"></app-poule>
</div>

<app-add-poule *ngIf="displayForm" 
  [equipesSansPoules]=equipesSansPoules
  (cancelEvent)="cancel()"
  (submitEvent)="submitPoule($event)"
></app-add-poule>