<div class="form">
  <h2>Ajouter une nouvelle Poule</h2>
  <form [formGroup]="poulesForm" (ngSubmit)="submitPoule()">
    <kendo-textbox-container floatingLabel="Nom de la nouvelle poule">
      <input kendoTextBox formControlName="nom" />
    </kendo-textbox-container>

    <div class="example-wrapper">
      <p>Equipes sans poules</p>
      <kendo-multiselect formControlName="equipes" [data]="sort(equipesSansPoules)"></kendo-multiselect>
    </div>

    <button kendoButton type="submit" [primary]="true" [disabled]="poulesForm?.invalid">Ajouter une poule</button>
    <button kendoButton (click)="cancel()">Annuler</button>
  </form>
</div>
