Liste des joueurs

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let element">{{element.nom | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef>Prénom</th>
    <td mat-cell *matCellDef="let element">{{element.prenom}} </td>
  </ng-container>

  <ng-container matColumnDef="poste">
    <th mat-header-cell *matHeaderCellDef>Poste</th>
    <td mat-cell *matCellDef="let element">{{element.poste}} </td>
  </ng-container>

  <ng-container matColumnDef="dateNaissance">
    <th mat-header-cell *matHeaderCellDef>Date de Naissance</th>
    <td mat-cell *matCellDef="let element">{{element.dateNaissance | date:'fullDate' | uppercase}}</td>
  </ng-container>

  <ng-container matColumnDef="nbSelections">
    <th mat-header-cell *matHeaderCellDef>Nombre de Sélections</th>
    <td mat-cell *matCellDef="let element">{{element.nbSelections}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
