<h3>Détail {{ equipe?.nom}} ({{ equipe?.joueurs.length}} joueurs)</h3>
<hr>
<ng-container *ngIf="equipe?.joueurs.length > 0">
    <h5>Nombre de sélections totales de l'équipe <span class="badge badge-light">{{ totaSelectionsTeam }} </span></h5>
    <h5>Joueur le moins expérimenté <span class="badge badge-light"> {{ minSelectionPlayer }} </span></h5>
    <h5>Joueur le plus expérimenté <span class="badge badge-light"> {{ maxSelectionPlayer }} </span></h5>
    <hr>
</ng-container>
<kendo-grid *ngIf="equipe?.joueurs.length > 0" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" #kendo
  [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true"
  (dataStateChange)="dataStateChange($event)">
  <ng-template kendoGridToolbarTemplate>
      <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
  </ng-template>
  <kendo-grid-column field="id" title="ID">
  </kendo-grid-column>
  <kendo-grid-column field="prenom" title="Prénoms" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="nom" title="Nom">
  </kendo-grid-column>
  <kendo-grid-column field="dateNaissance" title="Date de naissance">
    </kendo-grid-column>
  <kendo-grid-column field="poste" title="Poste" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="nbSelections" title="Nombre Sélections" width="250">
  </kendo-grid-column>
  <kendo-grid-pdf fileName="Equipes.pdf" [allPages]="true">
      <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
</kendo-grid>

<div class="card" *ngIf="equipe?.joueurs.length === 0">Pas de joueurs</div>
